.cart{
margin-top: 5%;
width: 60%;

}
td{
  white-space: nowrap;
}
#order-table div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%
}
#order-table > div {
  border-top: 1px dashed #e0e0e0;
  margin: 10px 0;
}
#order-table small {
  width: 100%;
  padding: 10px 0 0 0;
}

.ulightbox{
  width: 100%;
 
}
.title_product{
  color:black;
}
tr:hover {
  background-color:#f5f5f5;
  font-weight: bold;
}

/* responsive */
@media (max-width: 700px) {
  .cart{
    width: 100%;
  }
}
