.cart{
margin-top: 5%;
width: 60%;
}
.control:hover{

cursor: pointer; 
color:green;
}
.control_less:hover{

  cursor: pointer; 
  color:red;
  }
td{
  white-space: nowrap;
}
#order-table div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%
}
#order-table > div {
  border-top: 1px dashed #e0e0e0;
  margin: 10px 0;
}
#order-table small {
  width: 100%;
  padding: 10px 0 0 0;
}

.ulightbox{
  width: 100%;
 
}
.title_product{
  color:black;
}
tr:hover {
  background-color:#f5f5f5;
  font-weight: bold;
}

/* responsive */
@media (max-width: 800px) {
  .cart{
    width: 100%;
  }
}
@media (max-width: 1000px) {
.cart{
  margin-top: 7%;
}
}

@media (max-width: 700px) {
  .cart{
    margin-top: 10%;
  }
}

@media (max-width: 600px) {
  .cart{
   margin-top: 15%;
  }
}

@media screen and (max-width: 600px) {

  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}